@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

:root{
  --nunito: "nunito"
}

body {
  margin: 0;
  --text-color : #151515;
  --white-color: #FDFFFF;
  --additional-color1: #FFA630;
  --additional-color2: #4DA1A9;
  --additional-color3: #ED254E;
  font-family: var(--nunito);
}


